import(
	methods,
	nlme,
	graphics,
	parallel
)

importFrom("stats", "acf", "as.formula", "coef", "dbinom", "dgamma",
             "dnorm", "dpois", "glm", "lm", "model.matrix", "pacf",
             "pnorm", "printCoefmat", "qnorm", "qqline", "qqnorm",
             "quantile", "resid", "runif", "sd", "ts", "ts.plot",
             "update", "weighted.residuals")
importFrom("utils", "tail")

importFrom("nlme", "intervals")

exportMethods(
		"AIC",
		"intervals",
    "msmFit",
    "msmResid",
    "plot",
    "plotDiag",
    "plotProb",
    "plotReg",
    "summary"
)
exportClasses(
     "MSM.glm",
     "MSM.lm",
     "MSM.fitted" 
)
